*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
sedai-avlambda-cdk/.cdk.staging
sedai-avlambda-cdk/cdk.out
sedai-avlambda-cdk/*.yaml
sedai-avlambda-cdk/*.zip
sedai-avlambda-cdk/*.yml